@{
    ViewBag.Title = "View1";
    Layout = null;
}

<div class="symptom-container" name="FirstConsultation">
    <div class="form-group" style="padding:20px">
        @* <<-- Gorączka -->> *@
        <div class="symptom-item" name="Gorączka">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Gorączka:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label" name="Stopnie">Stopnie:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="stopnie">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Ból gardła -->> *@
        <div class="symptom-item" name="Ból gardła">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Ból gardła :</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Chrypa-->> *@
        <div class="symptom-item" name="Chrypa">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Chrypa:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Katar-->> *@
        <div class="symptom-item" name="Katar">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Katar:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Uczucie zatkania nosa-->> *@
        <div class="symptom-item" name="Uczucie zatkania nosa">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Uczucie zatkania nosa:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Kaszel-->> *@
        <div class="symptom-item" name="Kaszel">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Kaszel:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">rodzaj:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">Suchy
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">Mokry
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label">Od kiedy:</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input name="year" type="radio">1 dzień
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">2 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">3 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">4 dni
                            </label>
                            <label class="btn btn-default">
                                <input name="year" type="radio">5 dni i więcej
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Uczucie duszności-->> *@
        <div class="symptom-item" name="Uczucie duszności">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Uczucie duszności:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label" name="Opis">Opis:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="stopnie">
                    </div>
                </div>
            </div>
        </div>
        @* <<-- Informacje dodatkowe-->> *@
        <div class="symptom-item" name="Informacje dodatkowe">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient-name" class="control-label">Informacje dodatkowe:</label>
                </div>
                <div class="col-md-8">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-yes">Tak</button>
                        <button type="button" class="btn btn-default btn-no">Nie</button>
                    </div>
                </div>
            </div>
            <div class="symptom-item-details">
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label symptom-item-details-label" name="Opis">Opis:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="stopnie">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
